<div class="login-page">
    <div class="form">
        <form class="register-form" method="post" action="/createuser">
            <input type="text" name="emailaddress" placeholder="E-Posta Adresi" />
            <input type="text" name="fullname" placeholder="Ad, Soyad" />
            <input type="text" name="username" placeholder="Kullanıcı Adı" />
            <input type="password" name="password" placeholder="Şifre" />
            <button>Tamamla</button>
            <p class="message">Zaten Üyeyim
                <a href="/login">Giriş Yap</a>
            </p>
        </form>
    </div>
</div>