<div class="login-page">
  <div class="form">
    <form class="login-form" method="post" action="/login">
      <input type="text" name="username" placeholder="Kullanıcı Adı ve E-Posta Adresi"/>
      <input type="password" name="password" placeholder="Şifre"/>
      <button>Giriş Yap</button>
      <p class="message">Üye Değilim <a href="/createuser">Hesap Oluştur</a></p>
    </form>
  </div>
</div>
